In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
patient_df = pd.read_csv('training_v2.csv')
patient_df.head()

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,0,68.0,22.73,0,Caucasian,M,180.3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
1,114252,59342,81,0,77.0,27.42,0,Caucasian,F,160.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory
2,119783,50777,118,0,25.0,31.95,0,Caucasian,F,172.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic
3,79267,46918,118,0,81.0,22.64,1,Caucasian,F,165.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
4,92056,34377,33,0,19.0,NaN,0,Caucasian,M,188.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma

In [13]:
patient_df.shape

(91713, 186)

In [15]:
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Columns: 186 entries, encounter_id to apache_2_bodysystem
dtypes: float64(170), int64(8), object(8)
memory usage: 130.1+ MB

In [46]:
def num_cat_col(df):
    '''
    Splits the columns of the dataframe into categorical and numerical columns and returns them as 2 separate lists.
    Columns with IDs in them are added to the list of categorical columns.
    '''
    num_col = []
    cat_col = []
    for column in df.columns:
        if df[column].dtypes == 'object' or '_id' in column:
            cat_col.append(column)
        else:
            num_col.append(column)
    return cat_col, num_col

cat_col, num_col = num_cat_col(patient_df)

In [47]:
patient_df[cat_col].head()

,encounter_id,patient_id,hospital_id,ethnicity,gender,hospital_admit_source,icu_admit_source,icu_id,icu_stay_type,icu_type,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,Caucasian,M,Floor,Floor,92,admit,CTICU,Sepsis,Cardiovascular
1,114252,59342,81,Caucasian,F,Floor,Floor,90,admit,Med-Surg ICU,Respiratory,Respiratory
2,119783,50777,118,Caucasian,F,Emergency Department,Accident & Emergency,93,admit,Med-Surg ICU,Metabolic,Metabolic
3,79267,46918,118,Caucasian,F,Operating Room,Operating Room / Recovery,92,admit,CTICU,Cardiovascular,Cardiovascular
4,92056,34377,33,Caucasian,M,NaN,Accident & Emergency,91,admit,Med-Surg ICU,Trauma,Trauma

In [48]:
patient_df[cat_col].shape

(91713, 12)

In [49]:
patient_df[num_col].head()

,hospital_death,age,bmi,elective_surgery,height,pre_icu_los_days,readmission_status,weight,albumin_apache,apache_2_diagnosis,...,apache_4a_hospital_death_prob,apache_4a_icu_death_prob,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis
0,0,68.0,22.73,0,180.3,0.541667,0,73.9,2.3,113.0,...,0.10,0.05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0,77.0,27.42,0,160.0,0.927778,0,70.2,NaN,108.0,...,0.47,0.29,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0,25.0,31.95,0,172.7,0.000694,0,95.3,NaN,122.0,...,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,81.0,22.64,1,165.1,0.000694,0,61.7,NaN,203.0,...,0.04,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,19.0,NaN,0,188.0,0.073611,0,NaN,NaN,119.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
patient_df[num_col].shape

(91713, 174)